<h1>new bookmark</h1>
<%=simple_form_for [@list, @bookmark] do |field|%>
<%=field.input :comment %>
<%=field.association :movie %>
<button class="m-2"><%=field.button :submit%></button>
<%end%>
<button class="m-2"> <%= link_to 'back', lists_path%> </button>
